/*
* @Author: Admin
* @Date:   2016-02-28 11:17:09
* @Last Modified by:   Gunjan
* @Last Modified time: 2016-02-28 19:46:05
*/
$selectedItem: #263238;

html {
	height: 100%;
}
body {
	min-height: 100%;
	background: #eee;
}
li#logo-on-top {
	width: 240px;
}
li#logo-on-top a i {
	float: left;
	margin: 4px 10px 0px;
}
li#logo-on-top a {
	padding: 0px 10px;
	width: 240px
}
div#search-on-top {
	position: relative;
	float: left;
	margin-left: 252px;
}
div#search-on-top i {
	position: relative;
	float: left;
}
div#search-on-top input {
	position: relative;
	float: left;
	width: 95%;
}
div#search-on-top input[type=text] {
	border-bottom: none !important;
	margin-left: 12px;
}
ul#nav-mobile {
	margin-top: 64px;
}
ul#nav-mobile li a {
	color: #fff;
	font-weight: 100;
	letter-spacing: 1.5px;
	font-size: 16px;
}
#nav-mobile li {
	padding: 0px;
}
.side-nav li:hover, .side-nav li.active {
	background: $selectedItem;
}
.side-nav .collapsible-body li.active, .side-nav.fixed .collapsible-body li.active {
	background: $selectedItem;
}
@media only screen and (min-width:993px) {
	.main {
		padding-left: 240px;
	}
}